* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: #dcdde1;
}

div{
    background: none;
}

img{
    background: none;
}

input{
    border: none;
    border-radius: 25px;
    width: 300px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    background: rgba(185, 179, 179, 0.233);
    box-shadow: 5px 5px 5px rgb(59, 59, 59);
}
button{
    position: relative;
    top: 10px;
    left: 120px;
    border: none;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    background-color: #e056fd;
    color: #535c68;
    font-size: 20px;
}

.container{
    position: absolute;
    display: inline-flex;
    left: 37%;
    top: 40vh;
}

.container .dinamico{
    margin-left: 15px;
}

.dinamico{
    color: #e056fd;
    list-style: none;
    font-size: 50px;
}
.dinamico::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-left: 2px solid #e056fd;
    animation: typing 1.5s steps(10 ) infinite;
    background: #dcdde1;
}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

#div-ip{
    position: absolute;
    z-index: 999;
    left: 43%;
    top: 10vh;
    width: 300px;
    height: 100px;
}

#map { height: 100vh; }